.book {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.hidden-popup {
  display: none; /* Initially hide the pop-up */
  border: 1px solid black;
  padding: 20px;
  background-color: lightgray;
  position: relative; /* For positioning, if desired */
  z-index: 100; /* To ensure it appears on top */
}

.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

button {
  width: 100px;
}

.popup {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.app-form {
  display: flex;
  flex-direction: column;
}
